.contacto__cuerpo {
    font-size: 1.25rem;
    width: 31.25rem;
    background-color: $color-destacado;
    padding: 1.875rem;
    margin: auto;
    margin-top: 6.25rem;
    border-radius: .25rem;
    text-align: center;
    box-shadow: .4375rem .8125rem 2.3125rem;
  }
  
  .contacto__items {
    padding: 2.25rem;
    font-size: 1.5625rem;
    font-style: oblique;
  }
  
  .contacto__redes {
    list-style: none;
  }
  