body {
    @include animated-gradient($color-terciario, $color-secundario, $color-principal);
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  header {
    background: rgba($color-principal, 0.2);
  }
  