@media (max-width: $breakpoint-mobile) {
    body {
      @include animated-gradient(#E0F2F1, $color-secundario, $color-principal);
    }
  
    header {
      background: rgba($color-principal, 0.3);
    }
  
    .form-register,
    .contacto__cuerpo {
      background: rgba($color-principal, 0.2);
    }
  }
  
  @media (min-width: 768px) and (max-width: $breakpoint-tablet) {
    body {
      @include animated-gradient($color-terciario, #4DB6AC, #009688);
    }
  
    header {
      background: rgba(#009688, 0.4);
    }
  
    .form-register,
    .contacto__cuerpo {
      background: rgba(#009688, 0.25);
    }
  }
  