# 👉 Node modules (¡nunca se suben!)
node_modules/

*.css
*.css.map
/

#/Archivos basura del sistema
.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 👉 Archivos generados por error dentro de la carpeta Sass
sass/**/*.css
sass/**/*.css.map
